<form ng-submit="loadAllTerms()" class="form-inline">
    <div class="form-group">
    <label for="apikey">Enter BioPortal API key to retrieve terms:</label> <input size="40" type="text" name="apikey" ng-model="apikey">
        <input type="submit" value="Submit" class="btn">
    </div>
</form>
<form class="form-inline">
    <div class="checkbox">
        <label>
            <input type="checkbox" name="unresolved_selection" ng-model="unresolvedOnly" ng-change="updateFilteredTerms();"> <span class="text-primary">View unresolved terms only</span>
        </label> 
    </div>
</form>
<table class="table table-striped table-condensed" ng-show="results.length">
    <thead>
        <tr>
            <th>Submitted</th>
            <th>Provisional IRI</th>
            <th>Label</th>
            <th>Description</th>
            <th>Parent</th>
            <th>Permanent IRI</th>
    </thead>
    <tbody>
        <tr ng-repeat="term in results">
            <td>{{ term.created }}</td>
            <td>{{ term["@id"] }}</td>
            <td>{{ term.label }}</td>
            <td>{{ term.definition.join("\n") }}</td>
            <td><a href="{{ term.subclassOf }}">{{ term.subclassOf }}</a></td>
            <td>
                <form ng-show="term.editable" ng-submit="updatePermanentID()">
                    <input ng-model="permanentID" type="url">
                </form>
                <a ng-hide="term.permanentId === null || term.editable === true" href="{{ term.permanentId }}">{{ term.permanentId }}</a>
                <button class="btn btn-xs" ng-click="term.editable = true" ng-show="!term.editable" type="button">Update</button>
            </td>
        </tr>
</tbody>
</table>
